@import 'src/styles';
$padding: 10px 20px;

#accordion-container {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  #accordion-item {
    border-bottom: 1px solid rgb(221, 221, 221);

    #accordion-header {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      padding: $padding;

      i {
        color: $blue;
        transition: all 0.3s;

        &.is-expanded {
          transform: rotate(-180deg);
        }
      }
    }

    #accordion-content {
      display: none;
      padding: $padding;

      &.is-expanded {
        display: block;
      }

      .error {
        color: $red;
      }
    }
  }
}
